// app global css in SCSS form
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.text-15 {
  font-size: 15px;
}
.text-24 {
  font-size: 24px;
}
.text-color-red {
  color: #b30101;
}

.center {
  margin-left: 50%;
  transform: translateX(-50%);
}

.round-cheap {
  border: 2px solid $primary;
  border-radius: 20px;
  padding: 5px 10px;
  text-align: center;
}

.font-size.larger {
  font-size: larger;
}

.q-carousel__arrow .q-icon {
  background: #d8a402 !important;
  border-radius: 50% !important;
  border: 2px solid black;
  color: black;

  // margin-top: 270px;
}

.add_description {
  background-color: #d8a402;
  border: 2px solid white;
  color: white;
  padding: 10px;
  padding-left: 30px;
  border-radius: 48%;
  position: absolute;
  bottom: 0;
  min-width: 200px;
}

.q-btn-dropdown--simple * + .q-btn-dropdown__arrow {
  display: none !important;
}

.q-carousel__prev-arrow--horizontal {
  left: 0 !important;
}

.q-carousel__next-arrow--horizontal {
  right: 0 !important;
}

.q-dialog__inner--fullwidth > div {
  width: 100% !important;
  max-width: 380px !important;
}

.q-item__section--side > .q-icon {
  color: #fff;
}
.account_header {
  padding: 15px 15px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
}
.account_header .home-icon {
  width: 32px;
  margin-right: 15px;
}
.account_header .home-icon img {
  max-width: 100%;
}
.breadcrumbs {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11111;
  color: #fff;
  right: 0;
  width: 480px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: $primary;
  margin: auto;
}
.q-header + .q-page-container {
  padding-top: 50px !important;
}

.btn-light-green {
  background-color: $color-light-green;
  color: $dark;
  margin-right: 15px;
}
.btn-light-green:before {
  box-shadow: none;
}
