// app global css in SCSS form
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.text-15 {
  font-size: 15px;
}
.text-24 {
  font-size: 24px;
}
.text-color-red {
  color: #b30101;
}

.center {
  margin-left: 50%;
  transform: translateX(-50%);
}

.round-cheap {
  border: 2px solid #fdd600;
  border-radius: 20px;
  padding: 5px 10px;
}

.font-size.larger {
  font-size: larger;
}
