// app global css in SCSS form
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.text-15 {
  font-size: 15px;
}
.text-24 {
  font-size: 24px;
}
.text-color-red {
  color: #b30101;
}

.center {
  margin-left: 50%;
  transform: translateX(-50%);
}

.round-cheap {
  border: 2px solid #fdd600;
  border-radius: 20px;
  padding: 5px 10px;
  text-align: center;
}

.font-size.larger {
  font-size: larger;
}

.q-carousel__arrow .q-icon {
  background: #d8a402 !important;
  border-radius: 50% !important;
}

.add_description {
  background-color: #d8a402;
  border: 2px solid white;
  color: white;
  padding: 10px;
  padding-left: 30px;
  border-radius: 48%;
  position: absolute;
  bottom: 0;
  min-width: 200px;
}

.q-btn-dropdown--simple * + .q-btn-dropdown__arrow {
  display: none !important;
}

// .q-carousel__slides-container{
//   height: 400px !important;
//   max-width: 300px !important;
//   margin: auto;
//   display: flex;
//   justify-content: center;
// }
